@import "tailwindcss";

:root {
<<<<<<< SCRUM-47-profile-page
  --background: #ffffff;
  --foreground: #171717;
  --dn-white: #d9d9d9;
  --dn-red: #8b000d;
=======
	--background: #ffffff;
	--foreground: #090909;
	--color-accent: #fd4d4d;
>>>>>>> master
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--color-accent);
	--font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #090909;
		--foreground: #ffffff;
	}
}

html,
body {
	overflow-x: hidden;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
